# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/

# Mypy and Pyright
.mypy_cache/
.pytype/

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# Rust build artifacts
**/target/
**/*.rlib
**/*.rmeta
**/*.d
Cargo.lock
