[MASTER]
ignore=.venv,legacy,Time_Warp_*,Time_Warp_Python,Python

[FORMAT]
max-line-length=79

[MESSAGES CONTROL]
disable=
    too-many-lines,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    duplicate-code

[TYPECHECK]
# Allow dynamic shim imports
extension-pkg-whitelist=
